<%= form_with(model: @book, url: update_book_path(@book.id),local: :true) do |form| %>

<h1>Editing Book</h1>

<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
  <div class="error-details"><%= flash[:error_details] %></div>
<% end %>

<div class="form-group">
<%= form.label :title %><br>
<%= form.text_field :title %>
</div>

<div class="form-group">
<%= form.label :body %><br>
<%= form.text_area :body %>
</div>

<%= form.submit 'Update Book'%>

<% end %>
<tr>
 <td>
  <%= link_to "Show", book_path(@book.id) %>
 </td>
 <td>
  <%= link_to "Back", books_index_path %>
 </td>
</tr>
  
  <% if @selected_book %>
    <div class="book">
      <h2><%= @selected_book.title %></h2>
      <p><%= @selected_book.body %></p>
    </div>
  <% end %>
  </div>