<h1>Books</h1>

<%= form_with(model: @book, url: books_path,local: :true) do |form| %>
<%= form.text_field :title %>
<%= form.text_area :body %>
<%= form.submit 'Create Book'%>
<% end %>


  <% @book.each do |book| %>
  <div>
    <h2><%= book.title %></h2>
    <p><%= book.body %></p>
  </div>
  <% end %>
