<h1>新しい本作成</h1>

<%= form_for @book do |f| %>

  <div class="field">

    <%= f.label :title %>

    <%= f.text_field :title %>

  </div>

  <div class="field">

    <%= f.label :body %>

    <%= f.text_area :body %>

  </div>

  <%= f.submit "作成" %>

<% end %>
